h1 {
    font-family: 'Lobster', cursive;
    font-size: 55px;
    color: #1D263B;
    font-style: italic;
}

body {
    background: #F4F4F9;
    color: #796465;
    color: #1D263B;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

#header-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header-button {
    display: inline;
}

.thin-body {
    width: 750px;
    margin: auto;
}

#great-lakes-state {
    background: #C4E0F9;
}

#great-lakes-info {
    background: #C4E0F9;
}

#destinations {
    background: #C4E0F9;
}

#seasons {
    background: #C4E0F9;
}

#contact-p {
    background: #9BBDF9;
}

ul li {
    list-style-position:inside
}

ol li {
    list-style-position:inside
}

table {
    border-collapse: collapse;
}

table#t1, th, tr, td {
    border: 1px solid #4E4041;
    text-align: left;
    padding: 15px;
    color: #857273;
}

tr:hover {background-color: #C4A28F}

a:link, a:visited {
    background-color: #9BBDF9;
    color: #1D263B;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: #67AAF9;
}
